# Dependencies
frontend/node_modules/
backend/*/bin/
backend/*/obj/
backend/*/Migrations/

# Build outputs
backend/*/publish/
frontend/dist/

# IDE
.vscode/
.idea/
*.user
*.suo

# Logs
*.log
logs/

# Database
*.db
*.sqlite
*.db-shm
*.db-wal

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Mobile
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/pubspec.lock

# Android
mobile-android/.gradle/
mobile-android/.idea/
mobile-android/*.iml
mobile-android/local.properties
mobile-android/app/build/
